<div class="container">
  <hello name="{{ name }}"></hello>
  <p>
    Async validation demo.
  </p>

  <div class="form-body">
    <div class="col1">
      <label for="fileName" class="file-name-label col1">File name</label>
      <span class="required-indicator">*</span>
    </div>
    <div class="input-field col2 form-control">
      <input type="text" name="fileName" id="fileName" />
      <div class="action-indicator">
        <i class="fa fa-spin fa-spinner fa-1x"></i>
      </div>
    </div>
  </div>
</div>
<button class="btn btn-primary">asdf</button>
