.container {
  height: 100%;
  width: 100%;
  padding-top: 1em;
  max-width: 768px;
  margin: 0 auto 20px auto;
  font-family: Lato, sans-serif;
  background-color: white;
}

@media (min-width: 1024px) {
  .container {
    max-width: 680px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 680px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

.form-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.input-controls {
  flex-basis: 150px;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 640px) {
  .input-controls {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.required-indicator {
  color: red;
  margin-left: 4px;
}

.notice-message {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.col1 {
  flex: 0 0 100px;
}

.col2 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex: 1 0 300px;
}

.input-field {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.validation-input {
  padding-top: 3px;
  flex: 1;
  color: red;
}

.footer {
  flex-basis: 100px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

#fileName,
#fileName:active,
#fileName:hover {
  width: 90%;
  border: none;
  outline: none;
}

.info {
  width: 100%;
}

.info .alert {
  margin-top: 0;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.notice-message {
  overflow-x: hidden;
  text-overflow: ellipsis;
}
